 form {
   display: flex;
   flex-direction: column;
   input[type=text],
   input[type=password] {
     font-size: 24px;
   }
   button {
     height: 50px;
     font-size: 18px;
     md-spinner {
       height: 80%;
       margin: auto;
     }
   }
 }
