:host{
    md-card.denied{
        animation: denied .3s ease-in-out 2;
    }
    form{
        display: flex;
        flex-direction: column;

        input[type=text],
        input[type=password]{
            font-size: 24px;
        }
        button{
            height: 50px;
            font-size: 18px;
        }
    }


    .register-icon{
        text-align: center;
        md-icon{
            font-size: 10em;
            width: 100%;
            color: #e1e1e1;
        }
    }

    .already-a-member,
    .have-a-code{
        text-align: center;
        margin-top: 15px;
        font-size: .9em;
        cursor: pointer;
    }

    md-spinner{
        height: 80%;
        margin: auto;
    }
}