@import './theme.scss';

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

app-root{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.filler{
    flex: 1;
}
.flex-line{
    display: flex;

    & > *{
        flex: 1;
    }
}

md-toolbar{
    padding-right: 0px!important;
    padding-left: 0px!important;

    button{
        height: 100%;
    }
}

@keyframes denied {
    0%   {left: 0px;}
    25%  {left: -5px;}
    75%  {left: 5px;}
    100% {left: 0px;}
}